body{
    background-color: rgb(198, 234, 248);
    display: flex;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,4em);
    grid-template-rows: repeat(7,3em);
    grid-gap: 1em;
    padding: 2em;
    margin: 2em;
    border-color: rgb(179, 233, 255);
    background-color: rgb(155, 227, 255);
    border-style: solid;
    border-bottom-width: 18px;
    border-top-width: 0;
    border-left-width: 12px;
    border-right-width: 12px;
    border-radius: 30px;
}
.display-screen{
    grid-column: 1/5;
    grid-row: 1/3;
    color:rgb(18, 129, 173);
    font-size: 20px;
    padding: 1em;
}
button{
    color:rgb(18, 129, 173);
}
button, .display-screen{
    border-color: rgb(179, 233, 255);
    background-color: rgb(162, 229, 255);
    border-style: solid;
    border-bottom-width: 8px;
    border-top-width: 0;
    border-left-width: 6px;
    border-right-width: 6px;
    border-radius: 12px;
}
button[id*='a']{
    font-size: 30px;
}
#bckspce{
    grid-column: 1/3;
}